spring:
  datasource:
    url: jdbc:postgresql://ep-billowing-field-a92ym2eq-pooler.gwc.azure.neon.tech/neondb?user=neondb_owner&password=npg_s8zcTFL7tKSf&sslmode=require&channelBinding=require
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  application:
    name: online-exam-system

server:
  port: 8080

logging:
  level:
    com.examensystem: DEBUG
    org.hibernate.SQL: DEBUG